# Python byte-compiled / optimized / DLL files ------------
__pycache__/
*.py[cod]

# Translations --------------------------------------------
*.mo
*.pot

# Django --------------------------------------------------
local_settings.py
db.sqlite3

# Front-end -----------------------------------------------
node_modules/
