<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>Le potagérôme</title>
    <meta name="description" content="{% trans "Market pre-ordering system" %} ">
    <meta name="author" content="Gilles Bassière">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- link rel="stylesheet" href="style.css" -->
  </head>
  <body>
    {% include "navbar.html" with merchant="Le potagérôme" %}
    <div class="container">
    {% block main %}{% endblock %}
    </div>
    <!-- script src="script.js"></script -->
  </body>
</html>
