/*
 * FIXME: there must be a better way to override Bootstrap4 color scheme.
 * Certainly using Sass.
 */
nav.navbar {
  background-color: #7c0 !important;
}
nav.navbar .navbar-brand {
  font-weight: bold;
}
nav.navbar .nav-item .nav-link, nav.navbar .navbar-brand {
  color: #ffb;
}
nav.navbar .nav-item .nav-link:hover, nav.navbar .navbar-brand:hover {
  color: #bf6;
}
nav.navbar .nav-item .btn-outline {
  border-color: #ffb;
}
nav.navbar .nav-item .btn-outline:hover {
  background-color: #ffb;
  color: #7c0;
}

.navbar .user-placeholder {
  opacity: .5;
  clip-path: padding-box circle(50%);
  margin: 0 .3em;
}

@media (max-width: 575.98px) {
  .navbar .nav-item + .nav-item {margin-left: 0;}
  .navbar .dropdown {position: initial;}
  .navbar .dropdown-menu {
    position: initial;
    z-index: initial;
    float: initial;
    border: initial;
    border-radius: initial;
  }
}

.btn-primary {
  background-color: #7c0;
  border-color: #7c0;
}
.btn-primary:hover {
  background-color: #6a0;
  border-color: #6a0;
}

/* Messaging */
ul.messages {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 1em;
}
ul.messages li {
  list-style: none;
}
@media (min-width: 576px) {
  ul.messages li {
    width: 80%;
    margin: 0 auto;
  }
}

.trash {
  background: url(trash-2.svg) center right no-repeat;
  padding: 0;
  white-space: nowrap;
  height: 24px;
  width: 24px;
  border: none;
}
