<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>Le potagérôme</title>
    <meta name="description" content="{% trans "Market pre-ordering system" %} ">
    <meta name="author" content="Gilles Bassière">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
  </head>
  <body>
    {% include "navbar.html" with user=user merchant="Le potagérôme" %}
    <div class="container">
    {% block main %}{% endblock %}
    </div>
    <!-- Third-party front libraries -->
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "popper.js/dist/popper.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "script.js" %}"></script>
  </body>
</html>
