{% extends "base.html" %}
{% block main %}
<p>Date: {{ cart.delivery.slot_date }}</p>
<p>Place: {{ cart.delivery.location.name }}</p>
{% if user_form %}
    <form action="" method="post">
    {% csrf_token %}
        <p>
            Customer:
            {{ user_form.name }}
            <input type="submit" value="OK">
        </p>
    </form>
{% else %}
    <p>Customer: {{ cart.user }}</p>
{% endif %}

{% if item_form %}
<form action="" method="post">
    {% csrf_token %}
    {{ item_form }}
    <input type="submit" value="OK">
</form>
{% endif %}
<table>
    <caption>Your order</caption>
    <thead>
      <tr>
          <th>Article</th><th>Price</th>
      </tr>
    </thead>
    <tbody>
    {% if cart.items.count %}
    {% for i in cart.items.all %}
      <tr>
          <td>{{ i.label }}</td><td>{{ i.quantity }} x {{ i.unit_price }} = {{ i.price }}€</td><td></td>
      </tr>
    {% endfor %}
    {% else %}
        <td colspan="2">Your cart is empty...</td>
    {% endif %}
    </tbody>
    <tfoot>
      <tr>
          <td>Total price :</td><td>{{ cart.get_total|floatformat:2 }}€</td>
      </tr>
    </tfoot>
</table>
{% endblock %}
