{% extends "base.html" %}
{% block main %}
      {% if deliveries %}
        {% for d in deliveries %}
          <h1>{{ d.location }} {{ d.date }}</h1>
          {% if d.orders %}
            <ul>
            {% for o in d.orders %}
              <li>{{ o.label }} : {{ o.quantity }} {{ o.unit }}</li>
            {% endfor %}
            </ul>
          {% else %}
            <p>No orders.</p>
          {% endif %}
        {% endfor %}
      {% else %}
        <p>No delivery scheduled.</p>
      {% endif %}
{% endblock %}
