{% extends "base.html" %}
{% load i18n %}
{% block main %}
<p>{% trans "Date:" %} {{ cart.delivery.slot_date }}</p>
<p>{% trans "Place:" %} {{ cart.delivery.location.name }}</p>

{% if item_form %}
<form action="" method="post">
    {% csrf_token %}
    {{ item_form }}
    <input type="submit" value="OK">
</form>
{% endif %}
<table>
    <caption>{% trans "Your order" %}</caption>
    <thead>
      <tr>
          <th>{% trans "Article" %}</th><th>{% trans "Price" %}</th>
      </tr>
    </thead>
    <tbody>
    {% if cart.items.count %}
    {% for i in cart.items.all %}
      <tr>
          <td>{{ i.label }}</td><td>{{ i.quantity }} x {{ i.unit_price }} = {{ i.price }}€</td><td></td>
      </tr>
    {% endfor %}
    {% else %}
        <td colspan="2">{% trans "Your basket is empty..." %}</td>
    {% endif %}
    </tbody>
    <tfoot>
      <tr>
          <td>{% trans "Total price:" %}</td><td>{{ cart.get_total|floatformat:2 }}€</td>
      </tr>
    </tfoot>
</table>
{% endblock %}
