{% extends "base.html" %}
{% load i18n %}
{% block main %}
<div class="row">
  <div class="col text-center">
    <h3 class="m-4">{{ merchant.name }}</h3>
    {% if merchant.picture %}
      {% with merchant.picture as p %}
        <img src="{{ p.url }}" width="{{ p.width}}" height="{{ p.height }}" class="d-none d-sm-inline">
      {% endwith %}
    {% endif %}
    {% if merchant.presentation %}
      <p class="m-4">{{ merchant.presentation }}</p>
    {% endif %}
    {% if contacts|length %}
      <p>
        {% trans "Contacts:" %}
        {% for contact in contacts %}
          <a href="{{ contact.1 }}">{{ contact.0 }}</a>
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
    {% endif %}
  </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
{% for d in deliveries %}
  <div class="col">
    <div class="card mx-1 my-3">
      <div class="card-header">{% trans "Upcoming delivery" %}</div>
      <div class="card-body text-center">
        <h5 class="card-title">{{ d.location.name }}</h5>
        <h6 class="card-subtitle mb-2">{{ d.start|date:"DATE_FORMAT" }}</h6>
        <a href="{% url "new_cart" d.id %}" class="btn btn-primary">{% trans "Place an order" %}</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
