{% extends "base.html" %}
{% load i18n %}
{% block main %}
      {% if deliveries %}
        {% for d in deliveries %}
          <h1>{{ d.location }} {{ d.date|date:"SHORT_DATE_FORMAT" }}</h1>
          {% if d.orders %}
            <ul>
            {% for o in d.orders %}
              <li>{{ o.label }} : {{ o.quantity }} {{ o.unit }}</li>
            {% endfor %}
            </ul>
          {% else %}
          <p>{% trans "No orders." %}</p>
          {% endif %}
        {% endfor %}
      {% else %}
      <p>{% trans "No delivery scheduled." %}</p>
      {% endif %}
{% endblock %}
